<mat-card class="m-3">
    <mat-card-title>
        {{medicoObj?.nome}}
    </mat-card-title>
    <mat-card-subtitle>
        {{medicoObj?.especialidade}}
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <div class="row pt-3">
        <div class="col-md-6">
            <mat-card-content>
                <p><strong>Email:</strong> {{medicoObj.email}}</p>
                <p><strong>Genero:</strong> {{medicoObj.genero}}</p>
                <p><strong>CRM:</strong> {{medicoObj.crm}}</p>
                <p><strong>Telefone:</strong> {{medicoObj.telefone}}</p>
            </mat-card-content>
        </div>
    </div>
</mat-card>
